<form name="form">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img/>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <label class="label">File:</label>
                        <p class="control">
                            <input type="file" 
                                placeholder="Select file..."
                                class="input"
                                name="file" 
                                accept="image/*"/>
                        </p>
                        <p class="control">
                            <button type="submit" 
                                    class="button is-primary">Send
                            </button>
                        </p>
                        <div class="notification is-primary">
                            <button class="delete"></button>You sent successfully!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>